/*Mixin*/
/*Set values with respective display*/
/*
.col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px)
*/
header {
  display: block;
}

section {
  display: block;
}

footer {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

/*
Header Section
*/
header nav {
  padding: 13px 0px 13px 16px;
}
@media only screen and (min-width: 576px) {
  header nav {
    padding: 13px 16px;
  }
}
header nav .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .container-fluid .navbar-brand {
  display: flex;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  align-items: center;
  padding-left: 0;
}
@media only screen and (min-width: 576px) {
  header nav .container-fluid .navbar-brand {
    padding-left: 1.6%;
  }
}
header nav .container-fluid .help_widget {
  border-left: 2px solid #000000;
  padding: 3px 9px 3px 20px;
  height: 20px;
}
@media only screen and (max-width: 576px) {
  header nav .container-fluid .help_widget {
    padding: 3px 9px;
  }
}
header nav .container-fluid .help_widget span {
  font-size: 14px;
  line-height: 14px;
  vertical-align: text-top;
  margin-left: 10px;
}
@media only screen and (max-width: 576px) {
  header nav .container-fluid .help_widget span {
    margin-left: 0;
  }
}

main {
  background: url(./../assets/Banner-Background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  main {
    background: #FFFFFF !important;
  }
}
main .main_infor .main_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 77px;
}
@media only screen and (max-width: 576px) {
  main .main_infor .main_wrapper {
    padding-top: 0;
  }
}
main .main_infor .main_wrapper .main_inner {
  max-width: 580px;
  width: 100%;
  height: auto;
  background: #FFFFFF;
  padding: 20px;
}
@media only screen and (max-width: 576px) {
  main .main_infor .main_wrapper .main_inner {
    padding: 0;
  }
}
main .main_infor .main_wrapper .main_inner .banner {
  width: 100%;
}
main .main_infor .main_wrapper .main_inner .banner .Banner_Image_URL {
  width: 100%;
  height: auto;
  max-height: 163px;
  object-fit: cover;
  object-position: center;
}
@media only screen and (max-width: 576px) {
  main .main_infor .main_wrapper .main_inner .banner .Banner_Image_URL {
    max-height: 91px;
    object-position: center;
  }
}
main .main_infor .main_wrapper .main_inner .personal_information {
  padding: 22px 22px 22px 10px;
  background-color: #F4F4F4;
}
@media only screen and (max-width: 576px) {
  main .main_infor .main_wrapper .main_inner .personal_information {
    padding: 22px;
  }
}
main .main_infor .main_wrapper .main_inner .personal_information .wrapper {
  display: grid;
  grid-template-columns: 4fr 8fr;
}
main .main_infor .main_wrapper .main_inner .personal_information .wrapper .left_aside .personal_avatar {
  max-width: 120px;
  margin: auto;
}
main .main_infor .main_wrapper .main_inner .personal_information .wrapper .left_aside .personal_avatar .Avata_Image_URL {
  max-width: 110px;
  max-height: 110px;
  width: 100%;
  height: 100%;
  border-radius: 110px;
  object-fit: contain;
  object-position: center;
}
@media only screen and (min-width: 576px) {
  main .main_infor .main_wrapper .main_inner .personal_information .wrapper .left_aside .personal_avatar .Avata_Image_URL {
    max-width: 120px !important;
    max-height: 120px !important;
  }
}
main .main_infor .main_wrapper .main_inner .personal_information .wrapper .right_aside {
  padding-left: 10px;
}
@media only screen and (max-width: 576px) {
  main .main_infor .main_wrapper .main_inner .personal_information .wrapper .right_aside {
    padding-left: 20px;
  }
}
main .main_infor .main_wrapper .main_inner .personal_information .wrapper .right_aside .personal_detail_info p {
  padding: 2.5px 0;
}
main .main_infor .main_wrapper .main_inner .personal_information .wrapper .right_aside .personal_detail_info .Title_Event {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.202655px;
  text-transform: uppercase;
  color: #000000;
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .main_inner .personal_information .wrapper .right_aside .personal_detail_info .Title_Event {
    font-size: 14px;
  }
}
main .main_infor .main_wrapper .main_inner .personal_information .wrapper .right_aside .personal_detail_info .User_Name {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .main_inner .personal_information .wrapper .right_aside .personal_detail_info .User_Name {
    font-size: 12px;
  }
}
main .main_infor .main_wrapper .main_inner .personal_information .wrapper .right_aside .personal_detail_info .User_Description {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .main_inner .personal_information .wrapper .right_aside .personal_detail_info .User_Description {
    font-size: 12px;
  }
}
main .main_infor .main_wrapper .main_inner .fund_donate_current_figures {
  margin-top: 21px;
}
main .main_infor .main_wrapper .main_inner .fund_donate_current_figures .wrapper {
  display: grid;
  grid-template-columns: 6fr 6fr;
  font-weight: bold;
  font-size: 22px;
  line-height: 16px;
  letter-spacing: 0.0384615em;
  color: #000000;
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .main_inner .fund_donate_current_figures .wrapper {
    font-size: 20px;
  }
}
main .main_infor .main_wrapper .main_inner .fund_donate_current_figures .wrapper .left_aside {
  padding: 14px;
  background-color: #C4C4C4;
  margin-right: 2px;
}
main .main_infor .main_wrapper .main_inner .fund_donate_current_figures .wrapper .right_aside {
  padding: 14px;
  background-color: #C4C4C4;
}
main .main_infor .main_wrapper .main_inner .fund_description {
  margin-top: 10px;
  padding: 11px 9px 11px 12px;
  min-height: 100px;
}
main .main_infor .main_wrapper .main_inner .fund_description .Description_Event {
  font-size: 14px;
  line-height: 20px;
  color: #152935;
  white-space: normal;
  white-space-collapsing: collapse;
  text-wrap: normal;
  word-break: break-all;
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .main_inner .fund_description .Description_Event {
    font-size: 12px;
  }
}
main .main_infor .main_wrapper .main_inner .fund_donate_information {
  display: grid;
  grid-template-columns: 8fr 4fr;
  padding: 11px 14px 11px 12px;
}
main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: #152935;
}
main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info .number_person_donated_wrapper {
  height: fit-content;
}
main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info .avatar_person_donated_wrapper {
  padding: 5px;
  height: fit-content;
}
main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info .avatar_person_donated_wrapper .avatar_person_donated {
  float: left;
  border-radius: 50%;
}
main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info .avatar_person_donated_wrapper .avatar_person_donated:nth-child(2) {
  transform: translateX(-50%);
}
main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info .avatar_person_donated_wrapper .avatar_person_donated:nth-child(3) {
  transform: translateX(-100%);
}
@media only screen and (max-width: 285px) {
  main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info .avatar_person_donated_wrapper .avatar_person_donated:nth-child(3) {
    display: none;
  }
}
main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info .avatar_person_donated_wrapper .avatar_person_donated:nth-child(4) {
  transform: translateX(-150%);
}
@media only screen and (max-width: 315px) {
  main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info .avatar_person_donated_wrapper .avatar_person_donated:nth-child(4) {
    display: none;
  }
}
@media only screen and (max-width: 350px) {
  main .main_infor .main_wrapper .main_inner .fund_donate_information .person_donate_info .avatar_person_donated_wrapper .avatar_person_donated img {
    max-width: 20px !important;
    max-height: 20px !important;
    width: 100% !important;
    height: auto;
  }
}
main .main_infor .main_wrapper .main_inner .fund_sharing_facebook {
  font-size: 13px;
  line-height: 16px;
  position: relative;
}
main .main_infor .main_wrapper .main_inner .fund_sharing_facebook .link_sharing {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: #1E90FF;
  text-decoration: none;
  font-weight: bold;
}
main .main_infor .main_wrapper .platforms {
  max-width: 480px;
  width: 100%;
}
main .main_infor .main_wrapper .platforms .platforms_inner {
  display: flex;
  padding: 55px 16px;
}
@media only screen and (min-width: 360px) {
  main .main_infor .main_wrapper .platforms .platforms_inner {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .platforms .platforms_inner {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .platforms .platforms_inner .platform_android {
    flex: 0 0 100%;
  }
}
main .main_infor .main_wrapper .platforms .platforms_inner .platform_android .Play_Store_URL {
  display: block;
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .platforms .platforms_inner .platform_android .Play_Store_URL {
    margin: 0 0 20px 0;
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .platforms .platforms_inner .platform_ios {
    flex: 0 0 100%;
  }
}
main .main_infor .main_wrapper .platforms .platforms_inner .platform_ios .Apple_Store_URL {
  display: block;
}
@media only screen and (max-width: 360px) {
  main .main_infor .main_wrapper .platforms .platforms_inner .platform_ios .Apple_Store_URL {
    text-align: center;
  }
}

/*
Footer Section
*/
footer .container {
  padding: 0 15px;
}
footer .container .contact_wrapper {
  width: 100%;
  padding: 25px 12px;
  max-width: 945px;
  margin: auto;
  display: flex;
}
@media only screen and (max-width: 768px) {
  footer .container .contact_wrapper {
    flex-direction: column;
  }
}
footer .container .contact_wrapper .contact_title {
  font-size: 18px;
  line-height: 21px;
  color: #262626;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 20px;
}
footer .container .contact_wrapper .icon_fundraiser {
  flex: 0 0 25%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  footer .container .contact_wrapper .icon_fundraiser {
    flex: 0 0 100%;
  }
}
footer .container .contact_wrapper .contact_information {
  flex: 0 0 50%;
  padding: 0 9%;
}
@media only screen and (max-width: 768px) {
  footer .container .contact_wrapper .contact_information {
    flex: 0 0 100%;
    padding: 0 20%;
  }
}
footer .container .contact_wrapper .contact_information .contact_inner {
  width: 100%;
  font-size: 12px;
  line-height: 24px;
  word-break: break-all;
  white-space: normal;
}
@media only screen and (max-width: 360px) {
  footer .container .contact_wrapper .contact_information .contact_inner {
    font-size: 10px;
  }
}
footer .container .contact_wrapper .contact_information .contact_inner .user_input {
  flex: 0 0 70%;
  line-height: 20px;
}
footer .container .contact_wrapper .contact_information .contact_inner .contact_email {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}
footer .container .contact_wrapper .contact_information .contact_inner .contact_phone {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}
footer .container .contact_wrapper .contact_information .contact_inner .contact_address {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}
footer .container .contact_wrapper .contact_social {
  flex: 0 0 25%;
  padding: 0 5%;
}
@media only screen and (max-width: 768px) {
  footer .container .contact_wrapper .contact_social {
    flex: 0 0 100%;
    padding: 0 20%;
  }
}
footer .container .contact_wrapper .contact_social .list_contact_social a {
  margin-right: 5%;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
