/*
Header Section
*/
header {

  nav {
    background:#f5f5f5;

    @include media-self-specify(992px, 1, 0) {
      & {
        z-index:999;
      }
    }
    height: 75px;

    %container {
      display: flex;
      align-items: center;
      height: 100%;

      .navbar-toggler {
        padding: .25rem .50rem;
        font-size: 1.50rem;
        
        &:focus {
          outline: 0;
          box-shadow: 0 0 3px $color_bay_of_many_approx;
        }

        .fas .fa-bars {
          color: $color_bay_of_many_approx;
        }      
      }

      .navbar-collapse {
        flex-grow: unset;
      }

      .navbar-brand {
        @include media-mobile {
          overflow: hidden;
        }
      }

      #main-menu {
        margin-left: auto;

        .navbar-nav {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          background:#f5f5f5;

          @include media-self-specify(992px, 1, 0) {
            & {
              margin-top: 17px;
              flex-direction: column;
            }
          }

          .nav-item {
            display: inline-block;
            margin-left: 1.8rem;

            &.active {
              color:$color-highlight!important;
            }
          }

          .nav-link {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            color:inherit;
          }
        }
      }
    }
  }
}