
//colors
$color_light: #FFFFFF;
$color_dark: #000000;
//fonts
$font-family: 'Roboto', sans-serif;
$font-style: normal;
$font-weight: normal;

$tags: header, section, footer;

@each $tag in $tags {
  #{ $tag } {
    display: block;
  }
}

@mixin grid($grid_templates_columns,$grid_templates_rows ) {
  @if($grid_templates_columns == 0) {
    display: grid;
    grid-template-rows: $grid_templates_rows;
  }
  @if($grid_templates_rows == 0) {
    display: grid;
    grid-template-columns: $grid_templates_columns;
  }
}


